name: Otto Test

on: [push]

jobs:
  test:
    name: Test with Otto
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Go 1.22.5
      uses: actions/setup-go@v1
      with:
        go-version: 1.22.5
      id: go
    - name: Get Otto
      run: |
        export PATH=$PATH:$(go env GOPATH)/bin
        go install github.com/robertkrimen/otto/otto@latest
    - name: Test
      run: |
        export PATH=$PATH:$(go env GOPATH)/bin
        cat lib/has_check_contact.js otto_tests/has_check_contact_otto_tests.js lib/has_entity_contact.js otto_tests/has_entity_contact_otto_tests.js lib/has_contact.js otto_tests/has_contact_otto_tests.js lib/no_contacts.js otto_tests/no_contacts_otto_tests.js > otto_tests/test.js
        if otto otto_tests/test.js | tee /dev/stderr | grep FAILED; then false; else true; fi